*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-icons{
    background-color: antiquewhite;
}
span{
    text-transform: uppercase;
}
.blue i {
    color: blue;
}
.green i {
    color: green;
}
.orange i {
    color: orange;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}